body {
    margin:0;
    background-color: rgb(204, 204, 204);
}

h1 {
    font-size: 30px;
    color: #4aaaa5;
    font-weight: bold;
    font-family:'Georgia', Times, Times New Roman, serif;
}
h2 {
    font-size: 25px;
    color: #4aaaa5;
    font-family:'Georgia', Times, Times New Roman, serif;
}

p {
    color:#777777;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(77, 77, 77);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

li a:hover:not(.active) {
    background-color: #4aaaa5;
}

.active {
    background-color: #4aaaa5;
    margin-left: 125px;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.leftcolumn {   
    float: left;
    width: 650px;
    clear: both;
    margin-left: 125px;
}

.rightcolumn {
    float: left;
    width: 270px;
    padding-left: 20px;
}

a {
    padding: 3px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
   
}

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(77, 77, 77);
    margin-top: 20px;
    color: #b4b4b4;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
}